@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}
body{
    background-color:black;
}

.relogio{
    width: 400px;
    height: 200px;
    border: 2px solid  rgb(243, 109, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15%;
    font-size: 7rem;
    border-radius: 20px;
    color: rgb(255, 145, 0);
    background: linear-gradient(black, rgb(105, 69, 2));
    cursor: pointer;
}
.relogio:hover{
    box-shadow: 2px 2px 6px rgb(236, 174, 3);
}

